<!DOCTYPE html>
<html th:fragment="content">
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'Completed Entries');
        data.addColumn('number', 'Weight (in kg)');
        data.addRows([
          /*[# th:each="row : ${entriesList}"]*/
          [[${row}]],
          /*[/]*/
        ]);
        
        

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
            calc: 'stringify',
            sourceColumn: 1,
            type: 'string',
            role: 'annotation'
        },
         2,{
            calc: 'stringify',
            sourceColumn: 2,
            type: 'string',
            role: 'annotation'
        }]);

        var options = {
          title: 'Entry List',
          curveType: 'function',
          legend: { position: 'right' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(view, options);
        /*
      },
      failure: function(err){result = ["error",0,0];}
      }); 
      */
    }
      
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 100%; height: 100vh;"></div>
  </body>
</html>