<!DOCTYPE html>
<html th:fragment="content">
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        /*
        $.ajax({
          url: "/Graph/getData",
          type: "GET",
          success: function(result){
            var entries=[];
            entries[0] = ['Day', 'Completed Entries','Weight (in kg)'];
            for (var i = 0; i < result.length; i++) {
              entries[i+1] = result[i+1];    //[result[i].day, result[i].completedEntries, result[i].weight];
            }
            
        */
        var data = google.visualization.arrayToDataTable([
        ['Day', 'Completed Entries','Weight (in kg)'],
        ['1', 0, 0],
        ['2', 0, 0],
        ['3', 0, 0],
        ['4', 0, 0],
        ['5', 0, 0],
        ['6', 0, 0],
        ['7', 0, 0],
        ['8', 0, 0],
        ['9', 0, 0],
        ['10', 0, 0],
        ['11', 0, 0],
        ['12', 0, 0],
        ['13', 0, 0],
        ['14', 0, 0],
        ['15', 1, 1]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
            calc: 'stringify',
            sourceColumn: 1,
            type: 'string',
            role: 'annotation'
        },
         2,{
            calc: 'stringify',
            sourceColumn: 2,
            type: 'string',
            role: 'annotation'
        }]);

        var options = {
          title: 'Entry List',
          curveType: 'function',
          legend: { position: 'right' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(view, options);
        /*
      },
      failure: function(err){result = ["error",0,0];}
      }); 
      */
    }
      
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 100%; height: 100vh;"></div>
  </body>
</html>