<!DOCTYPE html>
<html lang="en">
<body th:fragment="content">
    <form>
        <ul>
            <li><input type="checkbox" th:checked ="*{item1}" id="item1"><label for="item1"> Plan all meals for the day in advance (what and when)</label></li>
            <li><input type="checkbox" th:checked ="*{item2}" id="item2"><label for="item2"> Eat no more than three times </label></li>
            <li><input type="checkbox" th:checked ="*{item3}" id="item3"><label for="item3"> Skip a meal</label></li>
            <li><input type="checkbox" th:checked ="*{item4}" id="item4"><label for="item4"> No calories after 8pm</label></li>
            <li><input type="checkbox" th:checked ="*{item5}" id="item5"><label for="item5"> Check the calorie count of everything you want to eat or drink</label></li>
            <li><input type="checkbox" th:checked ="*{item6}" id="item6"><label for="item6"> Set yourself a calorie goal and stick to it</label></li>
            <li><input type="checkbox" th:checked ="*{item7}" id="item7"><label for="item7"> Have a “fasting” day with less than 800kcal </label></li>
            <li><input type="checkbox" th:checked ="*{item8}" id="item8"><label for="item8"> Keep a diary of what you eat and how you feel </label></li>
            <li><input type="checkbox" th:checked ="*{item9}" id="item9"><label for="item9"> Check your portion size </label></li>
            <li><input type="checkbox" th:checked ="*{item10}" id="item10"><label for="item10"> Only eat when sitting at a table</label></li>
            <li><input type="checkbox" th:checked ="*{item11}" id="item11"><label for="item11"> Don’t eat between meals</label></li>
            <li><input type="checkbox" th:checked ="*{item12}" id="item12"><label for="item12"> Cut out crisps, biscuits, cakes and sweets </label></li>
            <li><input type="checkbox" th:checked ="*{item13}" id="item13"><label for="item13"> Cut out fried food</label></li>
            <li><input type="checkbox" th:checked ="*{item14}" id="item14"><label for="item14"> Have only one course at meal-time</label></li>
            <li><input type="checkbox" th:checked ="*{item15}" id="item15"><label for="item15"> Cut out carbs</label></li>
            <li><input type="checkbox" th:checked ="*{item16}" id="item16"><label for="item16"> Swap unhealthy snacks for fruits and vegetables </label></li>
            <li><input type="checkbox" th:checked ="*{item17}" id="item17"><label for="item17"> Swap rice/potatoes/ pasta for extra vegetables</label></li>
            <li><input type="checkbox" th:checked ="*{item18}" id="item18"><label for="item18"> Use meal replacement products</label></li>
            <li><input type="checkbox" th:checked ="*{item19}" id="item19"><label for="item19"> Swap unhealthy snacks with 6-8 individual nuts </label></li>
            <li><input type="checkbox" th:checked ="*{item20}" id="item20"><label for="item20"> Drink only water or unsweetened coffee or tea</label></li>
            <li><input type="checkbox" th:checked ="*{item21}" id="item21"><label for="item21"> Swap sugary soft drinks with diet or no sugar versions</label></li>
            <li><input type="checkbox" th:checked ="*{item22}" id="item22"><label for="item22"> Do not drink alcohol</label></li>
            <li><input type="checkbox" th:checked ="*{item23}" id="item23"><label for="item23"> Drink a pint of water before each meal</label></li>
            <li><input type="checkbox" th:checked ="*{item24}" id="item24"><label for="item24"> Swap juices or smoothies with whole fruit and vegetables</label></li>
            <li><input type="checkbox" th:checked ="*{item25}" id="item25"><label for="item25"> Eat at least 5 portions of fruit or vegetables each day</label></li>
            <li><input type="checkbox" th:checked ="*{item26}" id="item26"><label for="item26"> Snack only on vegetables</label></li>
            <li><input type="checkbox" th:checked ="*{item27}" id="item27"><label for="item27"> Eat only foods with a green nutrition label for total fat</label></li>
            <li><input type="checkbox" th:checked ="*{item28}" id="item28"><label for="item28"> Eat only foods with a green nutrition label for sugar</label></li>
            <li><input type="checkbox" th:checked ="*{item29}" id="item29"><label for="item29"> Make sure half of your main meal of the day is a salad or vegetables</label></li>
            <li><input type="checkbox" th:checked ="*{item30}" id="item30"><label for="item30"> Swap rice/potatoes/pasta with extra vegetables</label></li>
            <li><input type="checkbox" th:checked ="*{item31}" id="item31"><label for="item31"> Swap fatty meats with lean meats</label></li>
            <li><input type="checkbox" th:checked ="*{item32}" id="item32"><label for="item32"> Eat slowly or 20 chews per bite</label></li>
            <li><input type="checkbox" th:checked ="*{item33}" id="item33"><label for="item33"> Focus on your food while eating</label></li>
            <li><input type="checkbox" th:checked ="*{item34}" id="item34"><label for="item34"> Stop eating before you feel full</label></li>
            <li><input type="checkbox" th:checked ="*{item35}" id="item35"><label for="item35"> Use smaller plates and bowls</label></li>
            <li><input type="checkbox" th:checked ="*{item36}" id="item36"><label for="item36"> Cut food into smaller pieces</label></li>
            <li><input type="checkbox" th:checked ="*{item37}" id="item37"><label for="item37"> Eat for less than 20 minutes at a time</label></li>
            <li><input type="checkbox" th:checked ="*{item38}" id="item38"><label for="item38"> Walk up and down a flight of stairs for as long as you can</label></li>
            <li><input type="checkbox" th:checked ="*{item39}" id="item39"><label for="item39"> Go cycling for as long as you can</label></li>
            <li><input type="checkbox" th:checked ="*{item40}" id="item40"><label for="item40"> Go swimming for as long as you can</label></li>
            <li><input type="checkbox" th:checked ="*{item41}" id="item41"><label for="item41"> Stretching Exercises</label></li>
            <li><input type="checkbox" th:checked ="*{item42}" id="item42"><label for="item42"> Attend an exercise class</label></li>
            <li><input type="checkbox" th:checked ="*{item43}" id="item43"><label for="item43"> Play a group sport</label></li>
            <li><input type="checkbox" th:checked ="*{item44}" id="item44"><label for="item44"> Go to the gym</label></li>
            <li><input type="checkbox" th:checked ="*{item45}" id="item45"><label for="item45"> Exercise at home with the 21 minutes NHS Choices workout: https://www.nhs.uk/livewell/exercise/10-minuteworkouts</label></li>
            <li><input type="checkbox" th:checked ="*{item46}" id="item46"><label for="item46"> Brisk walking for as long as you can</label></li>
            <li><input type="checkbox" th:checked ="*{item47}" id="item47"><label for="item47"> Walk 10,000 steps</label></li>
            <li><input type="checkbox" th:checked ="*{item48}" id="item48"><label for="item48"> Walk/cycle instead of taking the bus or car</label></li>
            <li><input type="checkbox" th:checked ="*{item49}" id="item49"><label for="item49"> Go for a walk with your friend(s) </label></li>
            <li><input type="checkbox" th:checked ="*{item50}" id="item50"><label for="item50"> Stand up while working</label></li>
            <li><input type="checkbox" th:checked ="*{item51}" id="item51"><label for="item51"> Take the stairs whenever you can</label></li>
            <li><input type="checkbox" th:checked ="*{item52}" id="item52"><label for="item52"> Have an active day with your family or friends</label></li>
            <li><input type="checkbox" th:checked ="*{item53}" id="item53"><label for="item53"> Stand up while watching TV</label></li>
        </ul>
    </form>
</body>  
</html>